<?xml version="1.0" ?>
<model>
    <name>obstacle</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>

    <author>
        <name>Ahmed Yesuf Nurye</name>
        <email>anurye.yesuf@gmail.com</email>
    </author>

    <description>
        Obstacle for td7 world
    </description>
</model>
